################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Polyhedra/packages/Newtonsoft.Json.6.0.4
/Polyhedra/packages/Microsoft.AspNet.WebApi.5.2.2
/Polyhedra/packages/Microsoft.AspNet.WebApi.Client.5.2.2
/Polyhedra/packages/Microsoft.AspNet.WebApi.Core.5.2.2
/Polyhedra/packages/Microsoft.AspNet.WebApi.WebHost.5.2.2
/Polyhedra/Polyhedra.Web/bin
/Polyhedra/Polyhedra.Web/obj/Debug
/Polyhedra/Polyhedra.v12.suo
*.user
/Polyhedra/packages/Microsoft.AspNet.WebApi.5.2.3
/Polyhedra/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/Polyhedra/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/Polyhedra/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3
/Polyhedra/packages/Newtonsoft.Json.6.0.8
/Polyhedra/Polyhedra.Web/bower_components
/Polyhedra/Polyhedra.Web/node_modules
/Polyhedra/Polyhedra.Web/obj/Release
/Polyhedra/packages/Microsoft.ApplicationInsights.JavaScript.0.11.0-build09387
